body {
    background-color: rgb(151, 227, 233);
}
table {
    border: 1px solid rgb(0, 0, 0);
    width: 100% ;
    height: 900px ;
}
th {
    border: 1px solid rgb(0, 0, 0) ;
    box-shadow:inset 0 0 0 23px rgb(133, 153, 197) ;  
}
td {
    text-align: center;
    border: 1px solid rgb(0, 0, 0) ;
}
img {
    width: 60px ;
    height: 60px;
}
caption {
    font-size: 100px;
}
.border:hover {
    box-shadow: inset 0 0 0 23px #53ea93;
  }